<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted-light">Please get in touch if you wish to discuss requirements further.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-at fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Email</h4>
                    <p class="text-muted-light">hello@nullsum.uk</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Phone</h4>
                    <p class="text-muted-light">0870 875 2029</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-envelope-open-text fa-stack-1x fa-inverse""></i>
                    </span>
                    <h4 class="service-heading">Post</h4>
                    <p class="text-muted-light">{%- for item in site.address limit: 2 %}
                        {{ item | map: "line" }}
                      {%- endfor -%}, <br>
                      {% for item in site.address offset: 2 %}
                        {{ item | map: "line" }}{% if forloop.last %}{% else %}, {% endif %}
                      {% endfor %}
                </div>
            </div>
        </div>
    </section>
