<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">New to the Cloud?</h4>
                    <p class="text-muted"><b>Null Sum</b> can help you take your first steps into the cloud. Helping you get off on the right foot.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-code-branch fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improving Processes?</h4>
                    <p class="text-muted">We can help you shape your processes and the way you use the cloud to get the full potential.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-list-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Large Backlog?</h4>
                    <p class="text-muted">Embed someone into your teams to help modernise and manage your cloud projects.</p>
                </div>
            </div>
        </div>
    </section>